<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PoP Program on PoP</title>
    <link rel="stylesheet" href="~/assets/css/main.css" />
    <style type="text/css" media="screen"></style>
    <link rel="stylesheet" href="~/assets/css/manualchange.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header id="header">
      <!--  <img src="https://reykjavikuniversity-my.sharepoint.com/personal/jonb11_ru_is/_layouts/15/guestaccess.aspx?docid=1480616fa14eb4f528e20023e874972af&authkey=AdtpsofNZbQdtZ4HwEkuD3k" width="77" height="44" /> -->
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Text Editor", "Index", "TextEditor")</li>
                <li>@Html.ActionLink("About us","About","Home")</li>
            </ul>
        </nav>
    </header>
   
    
    <div class="container body-content">
      @RenderBody()
        <hr />
        <footer id="footer">
            <ul class="actions">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            </ul>

            <!-- Menu -->
            <ul class="menu">
                <li>&copy; @DateTime.Now.Year - PoP</li>
                <li>Design: <a href="Email@info.is">PoP</a></li>
            </ul>
        </footer>
    </div>
    
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.scrollex.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<!--
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("{POP}", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Text Editor", "Index", "TextEditor")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>    
-->